<h2>Nuestros productos:</h2>

<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>

    <p *ngIf="product.image">
      <img [src]="product.image" alt="{{ product.name }}" width="250px" height="250px">
    </p>
    
    <p *ngIf="product">
      <button type="button" [routerLink]="['/products', product.id ]">Ver detalles</button>
  </p>
  </div>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->